@model Ecommerce_App.Models.Product

@using Microsoft.AspNetCore.Identity;
@using Ecommerce_App.Models;

@inject SignInManager<Customer> SignInManager;
@inject UserManager<Customer> UserManager;
@inject Ecommerce_App.Data.StoreDbContext _storeDbContext;

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}

    @*<head> // re-examine for error that it causes //
        <meta name="viewport" content="width=device-width" />
        <link href="/css/reset.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet" />
        <link href="album.css" rel="stylesheet">
        <script src="~/js/index.js"></script>
        <title>@ViewBag.Title</title>
    </head>*@

<div id="productDetails">
    <div id="imageContainer"><img src="@Model.Image" /></div>
    <div id="textContainer">
        <div id="name">@Model.Name</div>
        <div id="price">@Model.Price</div>
        <div id="desc">@Model.Description</div>
    </div>
</div>


@*ADD to cart*@
<form asp-controller="Products" asp-action="AddProductToCart" method="post">
    <div class="row">
        <div class="col-3 offset-3">
            <label for="quantity">Quantity</label>
            <input type="hidden" name="productId" value="@Model.Id" />
            <input id="quantity" name="quantity" value="1" type="number" step="1" pattern="\d+" min="1"/>
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
</form>

@*View Component*@

@if (SignInManager.IsSignedIn(User))
{
    var customer = await UserManager.GetUserAsync(User);
    var userId = customer.Id;

    <div>
        @await Component.InvokeAsync("CartComp", userId);
    </div>
}





