@{
    Layout = "_Layout";
    ViewData["Title"] = "Products";
}
@model List<Ecommerce_App.Models.Product>
@*TODO add search and filter functionality*@
<div class="row">
@foreach (var product in Model)
{
    <div class="col-4">
        <a onclick="document.getElementById('@product.Id').submit()">
        <form asp-controller="Products" asp-action="GetSingleProduct" asp-route-id="@product.Id" method="post" id="@product.Id">
            @*<input type="hidden" name="id" value="@product.Id" />*@
            <div class="card" style="width: 18rem;" id="productCard">
                <img class="card-img-top" src="@product.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                </div>
            </div>
        </form>
        </a>
    </div>
}
</div>


@*<table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td><form asp-controller="Products" asp-action="GetSingleProduct" method="post"><input type="hidden" name="id" value="@product.Id" /><button type="submit">@product.Name</button></form></td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td><img src="@product.Image" /></td>
                </tr>
            }
        </tbody>
    </table>*@
