@page
@model Ecommerce_App.Pages.Shop.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "_Layout";
}

<h1>Order Details</h1>
@if (Model.ErrorMessage != "" || Model.ErrorMessage != null)
{
    <p>@Model.ErrorMessage</p>
}

<form method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group row">
        <label asp-for="@Model.Input.FirstName" class="col-3 col-form-label">First Name</label>
        <div class="col-9">
            <input asp-for="@Model.Input.FirstName" class="form-control" value="@Model.Customer.FirstName" required />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.Input.LastName" class="col-3 col-form-label">Last Name</label>
        <div class="col-9">
            <input asp-for="@Model.Input.LastName" class="form-control" value="@Model.Customer.LastName" required />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.Input.BillingAddress" class="col-3 col-form-label">Address</label>
        <div class="col-9">
            <input asp-for="@Model.Input.BillingAddress" class="form-control" value="@Model.Customer.BillingAddress" required />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.Input.BillingCity" class="col-3 col-form-label">City</label>
        <div class="col-9">
            <input asp-for="@Model.Input.BillingCity" class="form-control" value="@Model.Customer.BillingCity" required />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.Input.BillingState" class="col-3 col-form-label">State</label>
        <div class="col-9">
            <input asp-for="@Model.Input.BillingState" class="form-control" value="@Model.Customer.BillingState" required />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.Input.BillingZip" class="col-3 col-form-label">Zip Code</label>
        <div class="col-9">
            <input asp-for="@Model.Input.BillingZip" class="form-control" value="@Model.Customer.BillingZip" required />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.Input.PaymentMethod" class="col-3 col-form-label">Payment Method</label>
        <div class="col-9">
            <select asp-for="@Model.Input.PaymentMethod" class="form-control" required>
                <option selected hidden disabled value="">Choose Method</option>
                <option value="Visa">Visa</option>
                <option value="Mastercard">Mastercard</option>
                <option value="American Express">American Express</option>
                <option value="Discover">Discover</option>
                <option value="JCB">JCB</option>
                <option value="Diners Club">Diners Club</option>
            </select>
        </div>
    </div>



    <div class="row">
        <div class="col-3 offset-3">
            <button type="submit" class="btn btn-primary">Submit Order</button>
        </div>
    </div>
</form>