@page
@model Ecommerce_App.Pages.Shop.OrderModel
@{
    ViewData["Title"] = "Order";
    Layout = "_Layout";
}

<h1>Order @Model.Order.Id</h1>
<h2>@Model.Order.Date</h2>

@*Billing Info from Order*@

<div id="BillingDetails">
    <table class="table">
        <tbody>
            <tr>
                <td>First Name:</td>
                <td>@Model.Order.FirstName</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>@Model.Order.LastName</td>
            </tr>
            <tr>
                <td>Shipping Address:</td>
                <td>@Model.Order.BillingAddress</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>@Model.Order.BillingCity</td>
            </tr>
            <tr>
                <td>State:</td>
                <td>@Model.Order.BillingState</td>
            </tr>
            <tr>
                <td>Zip Code:</td>
                <td>@Model.Order.BillingZip</td>
            </tr>
            <tr>
                <td>Payment:</td>
                <td>@Model.Order.PaymentMethod</td>
            </tr>
        </tbody>
    </table>
</div>



@*Cart Items in table*@

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartItem in Model.Order.CartItems)
        {
            <tr>
                <td>@cartItem.Product.Name</td>
                <td>@cartItem.Quantity</td>
                <td>$@(cartItem.Product.Price * cartItem.Quantity)</td>
            </tr>
        }
        @*Total of totals:*@
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>Total:</td>
            <td>$ @Model.Order.Total</td>
        </tr>
    </tfoot>
</table>

@*Back to my Orders button*@


