@page
@model Ecommerce_App.Pages.Dashboard.PictureModel
@{
    ViewData["Title"] = "Picture";
    Layout = "_Layout";
}

<h1>Admin Dashboard</h1>

@*Create a New Product*@
<div>
    <h2>Create Product</h2>
    <form asp-page-handler="Create" method="post" enctype="multipart/form-data">
        <label>SKU</label>
        <input type="text" asp-for="@Model.Product.Sku" value="" />
        <label>Name</label>
        <input type="text" asp-for="@Model.Product.Name" value="" />
        <label>Price</label>
        <input type="number" asp-for="@Model.Product.Price" value="" />
        <label>Description</label>
        <input type="text" asp-for="@Model.Product.Description" value="" />
        <label>Image</label>
        <input asp-for="@Model.Input.File" />
        <button type="submit">Create</button>
    </form>
</div>
<h2>All Products</h2>

@foreach (var product in Model.Products)
{
    <div>
        <form asp-page-handler="Update" method="post" enctype="multipart/form-data">
            <h3>@product.Id</h3>
            <img src="@product.Image" />
            <input asp-for="@product.Id" value="@product.Id" required hidden />
            <input asp-for="@product.Image" value="@product.Image" required />
            <input asp-for="@product.Name" value="@product.Name" required />
            <input asp-for="@product.Sku" value="@product.Sku" required />
            <input asp-for="@product.Price" value="@product.Price" type="number" required />
            <input asp-for="@product.Description" value="@product.Description" required />
            <input asp-for="@Model.Input.File" />
            <button type="submit">Update</button>
        </form>
        <form asp-page-handler="Delete" method="post">
            <input type="number" asp-for="@product.Id" value="@product.Id" hidden required />
            <button type="submit">Delete</button>
        </form>
    </div>
}

<h2>Manage Orders</h2>

<table>
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Date</th>
            <th>Customer Name</th>
            <th>Total Cost</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Date.ToString("d")</td>
                <td>@order.FirstName @order.LastName</td>
                <td>$@order.Total</td>
                <td>
                    <a asp-page="/Shop/Order" asp-route-Id="@order.Id">Order Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>